<div id="main">
	<h1>Messenger</h1>
	<div class="tbl-login">
	<h4>LOGIN</h4>
	<table>
		<tr>
			<td class="align-right">Username</td>
			<td>:</td>
			<td><input class="txt" type="text" placeholder="Enter Username" name="username" required name="username"/></td>
		</tr>
		<tr>
			<td class="align-right">Password</td>
			<td>:</td>
			<td><input class="txt" type="password" placeholder="Enter Password" name="password" required name="password"/></td>
		</tr>
		<tr>
			<td colspan = "3" class="button">
				<a href="#"><input id="reg" type="button" value="register"/></a>
				<input id="login" type="submit" value="log-in"/>
			</td> 
		</tr>
	</table>
	</div>
</div>

