
<div id="main">
	<h1>Messenger</h1>
	<div class="tbl">
	<h4>REGISTER</h4>
	
	<table>
		<tr>
			<td class="align-right">Username</td>
			<td>:</td>
			<td><input class="txt" type="text" placeholder="Enter Username" required name="username"/></td>
		</tr>
		<tr>
			<td class="align-right">Password</td>
			<td>:</td>
			<td><input  id="p1" class="txt" type="password" placeholder="Enter Password" required name="password"/></td>
		</tr>
		<tr>
			<td class="align-right">Confirm Password</td>
			<td>:</td>
			<td><input  id="p2" class="txt" type="password" placeholder="Confirm Password" required name="cpassword"/></td>
		</tr>
		<tr>
			<td class="align-right">First Name</td>
			<td>:</td>
			<td><input class="txt" type="text" placeholder="Enter First Name" required name="fname"/></td>
		</tr>
		<tr>
			<td class="align-right">Last Name</td>
			<td>:</td>
			<td><input class="txt" type="text" placeholder="Enter Last Name" required name="lname"/></td>
		</tr>
		<tr>
			<td colspan = "3" class="button">
				<a href="#"><input id="login" type="button" value="log-in"/></a>
				<input id="reg" type="submit" value="register" onclick="" />
			</td>
		</tr>
	</table>
	</div>
</div>
